---
import '../style/style.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Binary Search Tree Visualization</title>
	</head>
  <body>
    <h1>Binary Search Tree</h1>
    <div class="link-block">
      <div class="link-title">BST</div>
      <div class="link-item"><a href="/binary-search-tree/BST/full">Full version</a></div>
      <div class="link-item"><a href="/binary-search-tree/BST/visualisation-only">Visualisation only (without code) version</a></div>
      <div class="link-item"><a href="/binary-search-tree/BST/partial-code">Partial code (some code hidden) version</a></div>
    </div>
    <div class="link-block">
      <div class="link-title">AVL</div>
      <div class="link-item"><a href="/binary-search-tree/AVL/full">Full version</a></div>
      <div class="link-item"><a href="/binary-search-tree/AVL/visualisation-only">Visualisation only (without code) version</a></div>
      <div class="link-item"><a href="/binary-search-tree/AVL/partial-code">Partial code (some code hidden) version</a></div>
    </div>
  </body>
</html>